*{
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background:#e9f4ff;
  display:flex;
  height:100vh;
  justify-content:center;
  align-items:center;
}

.container{
  width:400px;
}

.form-box{
  background:white;
  padding:35px;
  border-radius:15px;
  box-shadow:0 0 15px rgba(0,0,0,0.2);
  text-align:center;
}

h1{
  color:#66e0ff;
}

.subtitle{
  margin-top:5px;
  color:gray;
  margin-bottom:20px;
}

.input-group{
  text-align:left;
  margin-bottom:15px;
}

.input-group label{
  font-size:14px;
  font-weight:bold;
}

.input-group input{
  width:100%;
  padding:10px;
  border-radius:5px;
  border:1px solid gray;
  margin-top:5px;
}

.btn{
  /* width:100%; */
  padding:10px;
  border:none;
  padding-left: 140px;
  padding-right: 150px;
  background:#66e0ff;
  text-decoration: none;
  color:white;
  border-radius:5px;
  font-size:16px;
  cursor:pointer;
  margin-top:30px;
}
.btn a{
    margin-top: 20px;
}

.btn:hover{
  background:#66e0ff;
}

.login-text{
  margin-top:15px;
}

.login-text a{
  color:#66e0ff;
  text-decoration:none;
  font-weight:bold;
}
